{% extends 'base_layout.html'%}

{% block content%}

<div id="content">
    <br>
    <div class="container">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Clústering</h1>
        </div>
    
        <div class="row">
            <div class="col-lg-12 mb-4">       
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Contexto</h6>
                </div>
                <div class="card-body">
                    <p>
                        El clustering es una tarea que tiene como finalidad principal lograr el agrupamiento de conjuntos de objetos no etiquetados, para lograr construir subconjuntos de datos conocidos como Clusters.
                        <br><br>
                        En este proyecto se presentan dos tipos de clustering:
                        <ul>
                            <li>Clusterin particional.</li>
                            <li>Clustering jerárquico.</li>
                        </ul>
                        El clustering particional se enfoca en obtener una partición de elementos por grupo o en su defecto clusters, con el fin de que cada elemento pertenezca a uno de los clusters y que además cada cluster sea disjunto.
                        <br>
                        El clustering jerárquico es una técnica que regularmente es usado como método de minado de datos y consiste en la agrupación de datos, donde a cada agrupación se le conoce como clúster.
                        El algoritmo de clustering jerárquico, asigna las agrupaciones de acuerdo a las distancias que existen por cada elemento, entre estas se puede ejecutar diversos métodos para el cálculo de distancia, 
                        entre los más ocupados se encuentra la métrica euclidiana.
                    </p>
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                            src="" alt="">
                    </div>
                </div>
            </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-lg-12 mb-4">       
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">implementación</h6>
                </div>
                <div class="card-body">
                    <form id="form-read-cluster" method="POST" enctype="multipart/form-data">
                        <div class="custom-file col-4 ml-2">
                            <label class="custom-file-label" for="file-cluster">Selecciona un Archivo</label>
                            <input name="file-cluster" id="file-cluster" type="file" class="custom-file-input" lang="es" accept=".csv, .txt">
                            <div class="invalid-feedback">Archivo inválido</div>
                        </div>
                        
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="check-jerar"checked>
                            <label class="form-check-label" for="check-jerar">
                                Jerarquico
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="check-kmeans" >
                            <label class="form-check-label" for="check-kmeans">
                                Particional (K-Means)
                            </label>
                        </div>
                        <br>

                        <div class="form-group" style="width: fit-content">
                            <label for="n_clust">Número de clústers</label>
                            <input name="n_clust" type="number" lang="es" class="form-control" id="n_clust" aria-describedby="clusterHelp" placeholder="Número de clústers">
                            <small id="clusterHelp" class="form-text text-muted">Ingrese el número de clústers</small>
                        </div>
                        <br>
                        
                        <button type="button" id="btn-clustering" class="btn btn-primary">Iniciar</button>
                        
                        
                    </form>

                    <br>
                    <div id="res-cluster">

                        <h4>Dataset</h4>
                        <div id="t-data">
                        </div>
                        <br>

                        <h4>Número de elementos por clúster</h4>
                        <div id="t-num-elem">
                        </div>
                        <br>

                        <h4>Resultado del clustering</h4>
                        <div id="t-cluster">
                        </div>

                    </div>





                </div>
            </div>
            </div> 
        </div>
        </div>
        <!-- /.container-fluid -->

</div>
{% endblock %}