{% extends 'base_layout.html'%}

{% block content%}

<div id="content">
    <br>
    <div class="container">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Especificaciones</h1>
        </div>
    
        <div class="row">
            <div class="col-lg-12 mb-4">       
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Descripción</h6>
                </div>
                <div class="card-body">
                    
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                            src="" alt="">
                    </div>
                </div>
            </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-lg-12 mb-4">       
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">implementación</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
            </div> 
        </div>
        </div>
        <!-- /.container-fluid -->

</div>
{% endblock%}