{% extends 'base_layout.html'%}

{% block content%}

<div id="content">
    <br>
    <div class="container">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Selección de características</h1>
        </div>
    
        <div class="row">
            <div class="col-lg-12 mb-4">       
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Contexto</h6>
                </div>
                <div class="card-body">
                    <p>
                        Es el proceso para la definición de características es fundamental para el buen análisis y la obtención de datos, por lo que se han generado diferentes técnicas y herramientas para dicho proceso, el cual consiste principalmente en disminuir las entradas de tal modo que solo se analicen las entradas más significativas y así obtener un análisis de calidad.
                        <br>
                        El seleccionamiento de características conlleva varios aspectos, entre ellos se encuentra la reducción de cardinalidad, del cuál implica el corte en la cantidad de atributos que se contemplan al momento de crear los modelos. Además de generar un modelo de calidad, también mejora la eficiencia del modelo.

                        La mala elección de las columnas va desde la redundancia de los datos, que implica una mala detección de patrones significativos, por otro lado si el conjunto de datos tiene un tamaño elevado, se tendría que contemplar un tamaño de aprendizaje mucho mayor para los algoritmos de minería de datos.
                        <br>
                        Las dos principales problemáticas que ayuda a solucionar el generar una buena elección de características es:
                        Tener demasiados de escaso valor.
                        Tener muy pocos datos de mucho valor

                    </p>
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                            src="" alt="">
                    </div>
                </div>
            </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-lg-12 mb-4">       
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">implementación</h6>
                </div>
                <div class="card-body">

                    <form id="form-read-sc" method="POST" enctype="multipart/form-data">
                        <div class="custom-file col-4 ml-2">
                            <label class="custom-file-label" for="file-sc">Selecciona un Archivo</label>
                            <input name="file-sc" id="file-sc" type="file" class="custom-file-input" lang="es" accept=".csv, .txt">
                            <div class="invalid-feedback">Archivo inválido</div>
                        </div>
                        <br>
                        <fieldset>
                            <button type="button" id="btn-init-sc" class="btn btn-primary">Iniciar</button>
                        </fieldset>
                    </form>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="check-corr"checked>
                        <label class="form-check-label" for="check-corr">
                            Análisis correlacional de datos
                        </label>
                    </div>
                    <div class="form-check" hidden>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="check-pca" >
                        <label class="form-check-label" for="chec-pca">
                            Análisis de componentes principales
                        </label>
                    </div>

                    <div id="analisis-sc">
                        <div id="table-sc"   class="stripe" >
                        </div>
                        <br>

                        <h4>Descripcion de la estructura de datos.</h4>
                        <div id="sc-dtype" display="block" class="stripe">
                        </div>
                        <br>

                        <div id="sc-faltantes" display="block">
                        </div>
                        <br>
                        
                        <h4>identificacion de relaciones entre variables.</h4>
                        <div id="sc-corr" display="block">
                        </div>

                        <div id="sc-heapmap" display="block">
                        </div>
                        <br>

                    </div>

                    <div id="analisis-pca">
                        <div id="table-sc"   class="stripe" >
                        </div>
                        <br>

                        <h4>Estandarización de los datos.</h4>
                        <div id="sc-dtype" display="block" class="stripe">
                        </div>
                        <br>
                        
                        <h4>Matriz de correlaciones.</h4>
                        <div id="sc-corr" display="block">
                        </div>
                        <br>
                    </div>

                </div>
            </div>
            </div> 
        </div>
        </div>
        <!-- /.container-fluid -->

</div>
{% endblock %}